# Globals
**/*.pyc
**/__pycache__
**/*_OLD

# Repo structure
DATA/
OUTPUT_*/

# EEG-Cutter cached EEG
eeg-cutter/~cache_*

# asa2power test output
asa2power/example/output/

# NeuralNets local data
neuralnets/**/~*
